*{
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos	{
	padding:5px 0;
	background-color:#148f77;
	border-radius:12px;
	width: 95%;
	margin: 0 auto;
	border: 4px solid rgb(14, 88, 72);
}
.medsos ul li	{
	display: inline-block;
	color: #fff;
	width: 25px;
	background-color: #10705b;
	text-align: center;
	border-radius: 9px;
	height: 25px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.container	{
	width: 80%;
	margin: 0 auto; 

}
.container:after	{
	content: "";
	display: block;
	clear: both;
}

header h1{
	float: left;
	padding: 15px 0px;
	color: #148f77;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a {
	padding: 25px 25px;
	display: inline-block;
	border: 2px solid black;
	border-radius: 20px;
}
header ul li a:hover {
	background-color: #148f77;
	color: #fff;
	border-radius: 20px;
	border: 2px solid black;
}
.active	{
	background-color: #148f77;
	color: #fff;
	border-radius: 20px;

}
.banner	{
	height: 60vh;
	background-image: url("../img/banneredit.jpg");
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	width: 93%;
	margin: 0 auto;

}
.banner:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 143, 119, 0.6);
	border-radius: 20px;
	border: 5px solid rgb(14, 88, 72);
}
.banner h2	{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
	border-radius: 15px;
}
section	{
	padding: 50px 0;
}
section h3	{
	text-align: center;
	padding: 20px 0;
	color: #148f77;
	margin-bottom: 25px;
}
/*.about,*/
.service {
	padding-bottom: 100px;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	padding: 60px;
	margin: 0 auto;

}
.yoilah {
	background-color: #148f77;
	color: #fff;
	width: 200px;
	height: 25px;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;	
	border: 3px solid rgb(14, 88, 72);
  	outline-style: solid;
 	outline-width: medium;
}
.yoilah1 {
	background-color: #148f77;
	color: #fff;
	width: 220px;
	height: 38px;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;
	border: 3px solid rgb(14, 88, 72);
  	outline-style: solid;
 	outline-width: medium;	

	}

.gambarwoy {
/*	border-radius: 20px;
	width: 90%;
	margin: 0 auto;
	justify-content: center;*/
/*	height: 60vh;*/
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	width: 90%;
	margin: 0 auto;
	border: 3px solid rgb(14, 88, 72);
}

.service {
	background-color: #f9f9f9;
}
.box	{
	color: #148f77;
}
.box:after {
	content:"";
	display: block;
	clear: both;
}
.box .col-4 {
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon{
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin: 0 auto;
}
.box .col-4 h4 {
	margin: 20px 0;
}
footer	{
	padding: 30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
/*.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	border-top-color: #148f77;
	border-right-color: #148f77;
	border-bottom-color: #148f77;
	animation: muter 0.8s linear infinite;*/
}
.label	{
	background-color: #148f77;
	color: #fff;
}
.mantap {
	background-color: #148f77;
	height: 30px;
	color: #fff;
	border-radius: 10px;
	padding: 20px 15px;
}

.tulisanjalan {
	color: #fff;
	font-family: monospace;
}
.bergerak a:hover img {
	transform: scale(1.2);
}
.bergerak img {
	width: 30%;
	border-radius: 20px;
	margin: 0 auto;
}
.gambarproject{
	text-align: center;
	margin: 0 auto;
}
/*@keyframes muter  {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width: 95%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}*/
}